.profile__container {
    display: flex;
}

.profile__img {
    width: 155px;
    height: 155px;
    flex-shrink: 0;
    margin-right: var(--gap);
    display: flex;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.profile__about {
    margin-bottom: var(--gip);
}

.profile__soc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5px;
}

.profile__photo {
    border-radius: 50%;
    object-fit: cover;
}

.profile__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--graytext);
    border-top: 1px dashed #ddd;
    padding-top: 5px;
    margin-top: auto;
}

.profile__social .footer__social-link {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.author-category {
    margin-bottom: var(--gip);
    margin-top: var(--gip);
}

.author-category__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-slider {
    padding: 10px 0;
}

.category-link {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 2px 20px;
    margin-right: var(--gip);
    transition: box-shadow var(--short);
    white-space: nowrap;
}

.author-category__link {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .category-slider__container {
        flex-direction: column;
    }

    .author-category__wrap {
        width: 100%;
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 5px;
        justify-content: flex-start;
    }

    .category-slider .container {
        align-items: flex-start;
    }

    .author-category__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile__container {
        flex-direction: column;
    }

    .profile__img {
        align-self: center;
        margin-right: 0;
        margin-bottom: var(--gip);
        width: 255px;
        height: 255px;
    }

    .profile__photo {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .profile__img {
        align-self: center;
        margin-right: 0;
        margin-bottom: var(--gip);
        width: 195px;
        height: 195px;
    }

    .profile__social .gray-text {
        font-size: 16px;
    }
}