.hero {
    padding-top: var(--gap);
    background: var(--blue);
    padding-bottom: 220px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-min);
}

.hero__wrapper {
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.hero__wrapper:first-child {
    margin-right: var(--gap);
}


.form {
    position: relative;
    max-width: 540px;
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
}

.form__input {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--white);
    border-radius: 8px;
    height: 50px;
    padding: 0 15px;
    font-size: var(--font-df);
    transition: var(--short);
}
.form__input:focus-visible {
    box-shadow: 0px 0px 1px 2px #ccc;
}

.hero__btn {
    height: 44px;
    position: absolute;
    right: 3.5px;
}

.hero__img {
    width: 100%;
    align-self: center;
}

.ready-link {
    display: flex;
    max-width: 540px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    padding: var(--gip);
    font-size: 20px;
    transition: var(--short);
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}

.ready-link__text {
    margin-left: var(--gap);
}

.text-link {
    color: var(--green);
}

.ready-link__text p {
    margin-bottom: var(--gip);
}

.code {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
}


@media (max-width: 768px) {
    .hero__wrapper:nth-child(2) {
        display: none;
    }

    .hero__wrapper:first-child {
        margin-right: 0;
    }
  }
@media (max-width: 576px) {

    .code {
        width: 80px;
    }

    .hero {
        padding-top: var(--gap);
        padding-bottom: 260px;
    }
    .form__input {
        height: 46px;
    }
    .hero__btn {
        height: 41px;
    }

    .ready-link__text {
        margin-left: var(--gip);
        font-size: var(--font-df);
    }

    .ready-link__text p {
        margin-bottom: 0;
    }

  }