.auth {
    background-image: url(../../img/aut.svg);
    background-size: cover;
    display: flex;
    flex: 1 0 auto;
}

.auth__container {
    max-width: 1240px;
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: var(--gap2);
}

.auth__heading {
    position: relative;
}

.auth-head {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container:before,
.auth__container:after {
    content: '';
    position: absolute;
    top: 0;
    width: 55px;
    height: 100%;
}

.auth__container:before {
    right: 100%;
    box-shadow: inset -55px 0 55px -55px rgba(0, 2, 3, .20);
}

.auth__container:after {
    left: 100%;
    box-shadow: inset 55px 0 55px -55px rgba(0, 2, 3, .20);
}

@media (max-width: 1440px) {
    .auth__container:before, .auth__container:after {
        display: none;
    }
    .auth__container{
        max-width: none;
    }
}

